<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>NeoBrush</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/main.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js"></script>
  <script src="js/ui.js"></script>
  <script async src="./hackforplayer.js"></script>
  <script async type="text/javascript">
  var sketch = {ui: {}};
  window.addEventListener('load', function () {
    h4p({
      screen: {
        ui: sketch.ui
      }
    }).then(function (players) {
      var player = players[0];
      player.on('screen.load', function once({child}) {
        var set = function (property, value) { child.child.postMessage({property, value}, '*'); };
        var ui = sketch.ui;
        Object.defineProperty(sketch, 'ui', {
          configurable: true, enumerable: true,
          get: function () { return ui; },
          set: function (value) { return set('ui', ui = value); }
        });
        sketch.updateSource = function (colorSource) { set('updateSource', colorSource); };
        sketch.saveme = function (colorSource) { set('saveme'); }
        sketch.clearme = function (colorSource) { set('clearme') };
      });
    });
  });
  </script>
  <script id="script1" type="hack">
  'use strict';

  // See ---- http://p5js.org
  var p5 = require('https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.3/p5.min.js');

  function SketchLine(numberOfVertices, easeFactor, speedFactor, colors, p, art) {

    var curveVertices = [];
    var distances = [];
    var endPoints = [];
    var colorIndex = 0;

    for (var i = 0; i < numberOfVertices; i++) {
      curveVertices[i] = p.createVector(p.mouseX, p.mouseY);
      distances[i] = p.createVector(0, 0);
      endPoints[i] = p.createVector(0, 0);
    }

    this.update = function() {
      colorIndex = (colorIndex < colors.length) ? colorIndex + 1 : 0;
      for (var i = 0; i < numberOfVertices; i++) {
        distances[i].x = (i === 0) ? p.mouseX - curveVertices[0].x : curveVertices[i - 1].x - curveVertices[i].x;
        distances[i].y = (i === 0) ? p.mouseY - curveVertices[0].y : curveVertices[i - 1].y - curveVertices[i].y;
        distances[i].mult(easeFactor);
        endPoints[i].add(distances[i]);
        curveVertices[i].add(endPoints[i]);
        endPoints[i].mult(speedFactor);
      }
    };

    this.render = function() {
      art.beginShape();
      for (var i = 0; i < numberOfVertices; i++) {
        art.noFill();
        art.strokeWeight(1);
        var c = colors[colorIndex];
        art.blendMode(art.ADD);
        if (p.random(1) > 0.5) {
          art.blendMode(art.BLEND);
        }
        art.stroke(c[0], c[1], c[2], 255 / 20);
        art.curveVertex(curveVertices[i].x, curveVertices[i].y);
      }
      art.endShape();
    };
  }

  var s = function(p) {

    var lines = [];
    var colors = [];
    var src, canvas, art;

    p.clearme = function() {
      art.clear();
      art.background(0);
    };

    p.saveme = function() {
      art.get().save('neobrush-' + Date.now() + '.png');
    };

    p.updateSource = function(colorSource) {
      // Load from Server
      colorSource = 'https://teramotodaiki.github.io/neobrush/NeoBrush-P5js/' + colorSource;
      colors = [];
      src = p.loadImage(colorSource, function(img) {
        for (var x = 0; x < src.width; x++) {
          for (var y = 0; y < src.height; y++) {
            colors.push(img.get(x, y));
          }
        }
      });
    };

    p.mousePressed = function() {
      for (var i = 0; i < p.ui.numberOfLines; i++) {
        var easing = p.ui.easing + p.random(-p.ui.easingJitter, p.ui.easingJitter);
        var speed = p.ui.speed + p.random(-p.ui.speedJitter, p.ui.speedJitter);
        var vertices = p.ui.vertices + p.random(-p.ui.verticesJitter, p.ui.verticesJitter);
        var line = new SketchLine(vertices, easing, speed, colors, p, art);
        lines.push(line);
      }
    };

    p.mouseReleased = function() {
      lines = [];
    };

    p.setup = function() {
      p.pixelDensity(1);
      p.background(0);
      p.updateSource('img/source-0.jpg');

      canvas = p.createCanvas(975, 700);
      // canvas.parent('neobrush');
      Hack.setCanvas(canvas.canvas);


      art = p.createGraphics(canvas.width, canvas.height);
      art.background(0);
    };

    p.draw = function() {
      p.background(0);
      for (var i = 0; i < lines.length; i++) {
        lines[i].update();
        lines[i].render();
      }
      p.image(art, 0, 0, canvas.width, canvas.height);
    };
  };

  var sketch = new p5(s);


  // connect to parent...
  sketch.ui = Hack.parent.model.ui;
  Hack.parent.child.addEventListener('message', function (e) {
    var value = e.data.value;
    switch (e.data.property) {
      case 'updateSource': sketch.updateSource(value); break;
      case 'ui': sketch.ui = value; break;
      case 'clearme': sketch.clearme(); break;
      case 'saveme': sketch.saveme(); break;
    }
  });
  </script>
</head>

<body>
  <div class="container" ng-app="UiApp" ng-controller="UiController" id="ui-app">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-2">
        <h1>Neobrush</h1>
        <h5>A <a href="http://p5js.org/">p5.js</a> sketch by <a href="http://the816.com">Chris Riebschlager</a>. Get the <a href="https://github.com/riebschlager/neobrush">source</a>.</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        <p>Color Source:</p>
        <div class="margin-bottom">
          <a ng-class="{'active':activeColorSource==colorSource}" ng-repeat="colorSource in colorSources" class="color-source" href="" ng-click="setColorSource(colorSource)">
            <img src="" ng-src="{{colorSource}}" alt="" class="img-circle">
          </a>
        </div>
        <p>Presets:</p>
        <div>
          <button ng-click="choosePreset(preset)" ng-repeat="preset in presets" class="btn btn-info btn-xs preset">{{preset.name}}</button>
        </div>
        <p>
          Number of Lines:
          <br>
          <input ng-change="update()" ng-model="ui.numberOfLines" type="range" id="number-of-lines" min="10" max="200" value="100">
        </p>
        <p>
          Easing:
          <br>
          <input ng-change="update()" ng-model="ui.easing" type="range" id="easing" min="0.01" max="0.99" value="0.25" step="0.01">
        </p>
        <p>
          Easing Jitter:
          <br>
          <input ng-change="update()" ng-model="ui.easingJitter" type="range" id="easing-jitter" min="0" max="0.3" value="0.1" step="0.01">
        </p>
        <p>
          Speed:
          <br>
          <input ng-change="update()" ng-model="ui.speed" type="range" id="speed" min="0.01" max="0.99" value="0.3" step="0.01">
        </p>
        <p>
          Speed Jitter:
          <br>
          <input ng-change="update()" ng-model="ui.speedJitter" type="range" id="speed-jitter" min="0" max="0.99" value="0.1" step="0.01">
        </p>
        <p>
          Verticies:
          <br>
          <input ng-change="update()" ng-model="ui.verticies" type="range" id="vertices" min="1" max="30" value="8" step="1">
        </p>
        <p class="margin-bottom">
          Verticies Jitter:
          <br>
          <input ng-change="update()" ng-model="ui.verticiesJitter" type="range" id="vertices-jitter" min="0" max="10" value="1" step="1">
        </p>
        <button ng-click="sketch.saveme()" class="btn btn-sm btn-primary">Save</button>
        <button ng-click="sketch.clearme()" class="btn btn-sm btn-warning">Clear</button>
      </div>
      <div class="col-sm-10 h4p__container" data-target="#script1" style="height: 80vh"></div>
    </div>
  </div>
</body>

</html>
